.Game{
    color:white;
    display:flex;
    justify-content: center;
    background-color:black;
    min-height: 1000px;
    .container{
        padding: 50px;
        display:flex;
        gap:50px;
        .left{
            justify-self:flex-start;
        }
        .opponent, .me{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            gap:10px;
            img{
                width: 100px;
                height: 100px;
                object-fit: contain;
                padding: 2px;
                border-radius: 50%;
                border: 2px solid white;
            }
            span{
                color: white;
                font-size: 1.2rem;
            }
            button{
                padding: 5px 10px;
                background-color: #82ae61;
                color: white;
                border: none;
                border-radius: 10px;
            }
            .online, .player{
                color: #82ae61;
                font-size: 0.8rem;
                border: 0.1px solid #82ae61;
                padding: 3px 10px;
                border-radius: 10px;
            } 
        }
    }

    @media only screen and (max-width: 900px) {
        .container{
         align-self: center;
         flex-direction: column;
         width: 90%;
         .left{
             align-self: flex-start;
         }
         .right{
            align-self: center;
         }
          .opponent, .me{
       
             span{ 
                 font-size: 1rem;
             }
         }
         .me{
             align-self: flex-end;
         }
     }
     }
}
