.Footer {
  hr{
    width: 100%;
    height: 0px;
    border: 0.5px solid rgb(240, 237, 237);
  }
    .container {
      width: 100%;
      height: 80px;
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
       .logo {
        background-color: transparent;
        font-size: 20px;
        padding: 0px 20px;
        .chess {
          color: white;
          font-size: 30px;
        }
      }
      .section{
        margin: 0px 20px;
        display: flex;
        gap: 20px;
        align-items: center;
        .link, Link{
          text-decoration: none;
          color: inherit;
      }
      }
     
    }

    @media only screen and (max-width: 600px) {
      .container{
        height: 60px;
        .logo{
          font-size: 15px;
        }
        .chess{
          font-size: 20px;
        }
        .section{
          font-size: 0.7rem;
        }
      }
  }
    
  }
  