*{
  .link{
      text-decoration: none;
      color: inherit;
  }
  .logo {
    font-size: inherit;
    .chess {
      font-weight: 400;
      color: #FF69B4;
      font-family: "Dancing Script", cursive;
    }
    .buddy {
      font-weight: 600;
      font-family: "Ubuntu", sans-serif;
    }
  }
}